{
  auto_https off
}

vinops.online, www.vinops.online {
  tls /certs/vinops.crt /certs/vinops.key
  encode zstd gzip
  @acme path /.well-known/acme-challenge/*
  respond @acme 404

  reverse_proxy web:3000 {
    header_up Host {host}
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-For {remote}
  }
}
